.hub-container {
  height: 100vh;
  background-image: url("../../../assets/bg.jpg");
}
.hub-container-cursor{
  height: 100vh;
  background-image: url("../../../assets/bg.jpg");
  cursor: none;
}
.hub-hubitems {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: wrap;
}
