.addStudent-label{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: black;
    flex:1;
}
.addStudent-label-dark{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
    flex:1;
}
.addStudent-container{
    /* display: flex;
    flex-direction: row;
    width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 150px;
    margin-right: 150px;
}
.addStudent-input{
    height: 2rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.addStudent-button{
    background-color: rgb(136, 168, 216);
    border: 0;
    border-radius: 20px;
    color: white;
    padding: 20px;
    font-size: 20px;
}
.addStudent-button-dark{
    background-color: white;
    border: 0;
    border-radius: 20px;
    color: black;
    padding: 20px;
    font-size: 20px;
}
.addStudent-man-label {
    font-size: 25px;
    margin-right: 10px;
    color:black;
}
.addStudent-man-label-dark {
    font-size: 25px;
    margin-right: 10px;
    color:white;
}
.addStudent-woman-label {
    font-size: 25px;
    margin-right: 5px;
    color:black;
}
.addStudent-woman-label-dark {
    font-size: 25px;
    margin-right: 5px;
    color:white;
}