.Login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    height: 100vh;
    background: linear-gradient(
        200.96deg,
        #fedc2a -29.09%,
        #dd5789 51.77%,
        #7a2c9e 129.35%
      );

}
.login-supervisor{
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    background-color: transparent;
    border: 0;
}
.login-supervisor>img{
    width: 200px;
    height: 200px;
}
.login-supervisor>div{
    margin-top: 10px;
    font-size: 30px;
    color: white;
}
.group{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.label{
    flex:1;
    margin-right: 10px;
}
.input{
    border:0;
    padding: 5px;
    border-radius: 30px;
    width: 400px;
    height: 60px;
    font-size: 26px;
}
.login-button{
    background-color: white;
    border: 0;
    border-radius: 10px;
    padding: 5px;
    font-size: 26px;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border-radius: 30px;
}
.button-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}