.program-container{
    width: fit-content;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, .3);
}
.program-header{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    background-color: gray;
    padding: 5px;
    color: white;
}