.watch-container{
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    overflow: scroll;
}
.watch-url-container {
    background-color: rgb(97, 146, 219);
    margin : 10px;
    height: 37px;
    font-size: 40px;
    width: 275px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.watch-url-container:hover{
    background-color: rgb(136, 168, 216); ;
}
.watch-button {
    font-size: 20px;
}
.watch-input {
    color:black;
    font-size: 15px;
    margin-left: 5px;
    border: 0;
    height: 25px;
    border-radius: 5px;
}
.watch-url-container-dark {
    background-color: rgb(141, 141, 141);
    margin : 10px;
    height: 37px;
    font-size: 40px;
    width: 275px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.watch-url-container-dark:hover{
    background-color: rgb(81, 80, 80);
}
.watch-button-dark {
    font-size: 20px;
}
.watch-input-dark {
    color:black;
    font-size: 15px;
    margin-left: 5px;
    border: 0;
    height: 25px;
    border-radius: 5px;
}